.chat-wrapper {
  position: fixed;
  bottom: 0;
  right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 1140px;
  overflow-x: hidden;
}
.chat-wrapper .chat-box {
  height: 330px;
  background-color: white;
  width: 260px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.chat-wrapper .chat-box + .chat-box {
  margin-left: 2rem;
}
.chat-wrapper .chat-box.collapsed .message-box,
.chat-wrapper .chat-box.collapsed .chat-window {
  display: none;
}
.chat-wrapper .chat-box.collapsed {
  height: initial;
}
.chat-wrapper .chat-box.collapsed .chat-head {
  border-bottom: 0;
}
.chat-wrapper .chat-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem .5rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.chat-wrapper .chat-head.active {
  border-color: white;
}
.chat-wrapper .online .status-icon {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.chat-wrapper .status-icon {
  background-color: gray;
  margin-right: .5rem;
}
.chat-wrapper .chat-name a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
.chat-wrapper .chat-name a:hover,
.chat-wrapper .chat-name a:focus {
  text-decoration: underline;
}
.chat-wrapper .active .chat-name a {
  color: white;
}
.chat-wrapper .active .remove.icon {
  color: white;
}
.chat-wrapper .chat-name {
  margin-right: auto;
}
.chat-wrapper .remove.icon {
  color: gray;
  margin-left: auto;
  margin-right: 0;
}
.chat-wrapper .chat-box .chat-head {
  background-color: #f7f7f7;
}
.chat-wrapper .message-box {
  position: relative;
}
.chat-wrapper .message-box .input-container {
  padding: .4rem 0.6rem;
}
.chat-wrapper .message-box .textarea {
  max-height: 100px;
  overflow: auto;
  position: relative;
  z-index: 3;
}
.chat-wrapper .message-box .textarea-wrapper {
  position: relative;
}
.chat-wrapper .message-box .textarea:focus {
  outline: none;
}
.chat-wrapper .message-box .input-placeholder {
  color: #adadad;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.chat-wrapper .chat-window {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14.5px;
}
.chat-wrapper .chat-window .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.chat-wrapper .chat-window .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.chat-wrapper .chat-window .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.chat-wrapper .chat-window .center .text {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.chat-wrapper .chat-window .right .message-bubble {
  color: white;
  text-align: right;
}
.chat-wrapper .chat-window .left .message-bubble {
  background-color: #f1f0f0;
}
.chat-wrapper .chat-window .message-bubble {
  max-width: 95%;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  line-height: normal;
}
.chat-wrapper .chat-window .message-bubble.money {
  background-color: #7976db !important;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px !important;
}
.chat-wrapper .chat-window .message-bubble.money .icon {
  height: 40px;
  min-width: 28px;
}
.chat-wrapper .chat-window .message-bubble.money .icon img {
  height: inherit;
  width: auto;
}
.chat-wrapper .chat-window .left .money .icon {
  margin-left: .5rem;
}
.chat-wrapper .chat-window .right .money .icon {
  margin-right: .5rem;
}
.chat-wrapper .chat-window .message-bubble a {
  color: inherit;
  text-decoration: underline;
}
.chat-wrapper .chat-window .message-bubble + .message-bubble {
  margin-top: .15rem;
}
.chat-wrapper .chat-window .right + .right,
.chat-wrapper .chat-window .right + .left,
.chat-wrapper .chat-window .left + .left,
.chat-wrapper .chat-window .left + .right,
.chat-wrapper .chat-window .center + .left,
.chat-wrapper .chat-window .center + .right {
  margin-top: .5rem;
}
.chat-wrapper .chat-window .right .message-bubble {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.chat-wrapper .chat-window .right .message-bubble:last-child {
  border-bottom-right-radius: 24px;
}
.chat-wrapper .chat-window .right .message-bubble:first-child {
  border-top-right-radius: 24px;
}
.chat-wrapper .chat-window .left .message-bubble {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.chat-wrapper .chat-window .left .message-bubble:last-child {
  border-bottom-left-radius: 24px;
}
.chat-wrapper .chat-window .left .message-bubble:first-child {
  border-top-left-radius: 24px;
}
.chat-wrapper .chat-list .chat-head {
  color: gray;
  fill: gray;
}
.chat-wrapper .chat-list.active .chat-head {
  color: white;
  fill: white;
}
.chat-wrapper .chat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.chat-wrapper .chat-list:not(.collapsed) {
  padding-bottom: 2px;
}
.chat-wrapper .chat-list .chat-window {
  padding: 0;
}
.chat-wrapper .chat-list .sticky-top {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.chat-wrapper .chat-list .search-wrapper {
  font-size: 15px;
  background-color: #f8f8f8;
  padding: .5rem;
}
.chat-wrapper .chat-list .search-wrapper input {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.chat-wrapper .chat-list .search-wrapper input:focus {
  border-color: rgba(34, 36, 38, 0.15);
}
.chat-wrapper .chat-list .contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.chat-wrapper .chat-list .contact-card {
  padding-top: .7rem;
  padding-bottom: .3rem;
  padding-left: .5rem;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.chat-wrapper .chat-list .contact-card:hover,
.chat-wrapper .chat-list .contact-card:focus,
.chat-wrapper .chat-list .contact-card.active {
  background-color: #f7f7f7;
}
.chat-wrapper .chat-list .image-wrapper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 0.5rem;
}
.chat-wrapper .chat-list a,
.chat-wrapper .chat-list .icon {
  color: rgba(0, 0, 0, 0.6);
}
.chat-wrapper .chat-list a:hover,
.chat-wrapper .chat-list .icon:hover,
.chat-wrapper .chat-list a:focus,
.chat-wrapper .chat-list .icon:focus {
  color: rgba(0, 0, 0, 0.87);
}
.chat-wrapper .chat-list .contact-name a {
  font-size: 13px;
}
.chat-wrapper .chat-list .contact-name {
  line-height: 1.1;
}
.chat-wrapper .chat-list .contact-meta {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.chat-wrapper .chat-list .contact-status {
  background-color: gray;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-right: .6rem;
}
.chat-wrapper .chat-list .online .contact-status {
  background-color: #4bcc1f;
}
.chat-wrapper .chat-list .contact-main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.chat-wrapper .chat-list .contact-last-message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  height: 16px;
  width: 195px;
}
.chat-wrapper .new-chat .status-icon {
  display: none;
}
.chat-wrapper .new-chat .chat-window {
  padding: 0;
}
.chat-wrapper .new-chat .textarea-wrapper {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.chat-wrapper .new-chat .input-placeholder {
  color: white;
}
.chat-wrapper .new-chat .search-wrapper {
  font-size: 15px;
  background-color: #f8f8f8;
  padding: .5rem;
}
.chat-wrapper .new-chat .search-wrapper input {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.chat-wrapper .new-chat .search-wrapper input:focus {
  border-color: rgba(34, 36, 38, 0.15);
}
