

/*******************************
            Theme
*******************************/

.chat-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 1140px;
  z-index: 300;
  
/* 
   * Overridding background color for chat-head in chat-list-box and 
   * new chat variation. !important is used to override impact of theme color
   * .chat-head.chat-head is used for the same reason 
   */
}
.chat-wrapper .chat-box {
  position: fixed;
  bottom: 0;
  right: 2rem;
  z-index: 300;
  height: 330px;
  background-color: white;
  width: 260px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.chat-wrapper .chat-box + .chat-box {
  margin-left: 2rem;
}
.chat-wrapper .chat-box.collapsed .chat-message-box,
.chat-wrapper .chat-box.collapsed .chat-window {
  display: none;
}
.chat-wrapper .chat-box.collapsed {
  height: initial;
}
.chat-wrapper .chat-box.collapsed .chat-head {
  border-bottom: 0;
}
.chat-wrapper .chat-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem .5rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.chat-wrapper .chat-head .contact-unread {
  background-color: #4bcc1f;
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  font-weight: bold;
  margin-right: .3rem;
}
.chat-wrapper .chat-head.active {
  border-color: white;
}
.chat-wrapper.chat-list-box .chat-head.active,
.chat-wrapper.new-chat .chat-head.active {
  border-color: rgba(0, 0, 0, 0.1);
}
.chat-wrapper .online .status-icon,
.chat-wrapper .online .contact-status {
  background-color: #4bcc1f;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.chat-wrapper .status-icon,
.chat-wrapper .contact-status {
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  background-color: gray;
  margin-right: .5rem;
}
.chat-wrapper .chat-name a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
.chat-wrapper .chat-name a:hover,
.chat-wrapper .chat-name a:focus {
  text-decoration: underline;
}
.chat-wrapper .chat-box.active .chat-name a {
  color: white;
}
.chat-wrapper .chat-box.active.chat-list-box .chat-name a,
.chat-wrapper .chat-box.active.new-chat .chat-name a {
  color: rgba(0, 0, 0, 0.87);
}
.chat-wrapper .chat-box.active .remove.icon {
  color: white;
}
.chat-wrapper .chat-box.active.chat-list-box .remove.icon,
.chat-wrapper .chat-box.active.new-chat .remove.icon {
  color: gray;
}
.chat-wrapper .chat-name {
  margin-right: auto;
}
.chat-wrapper .remove.icon {
  color: gray;
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.chat-wrapper .chat-box .chat-head {
  background-color: #f7f7f7;
}
.chat-wrapper .active.chat-box .chat-head {
  background-color: #4840bb;
}
.chat-wrapper .active.chat-box.chat-list-box .chat-head.chat-head {
  background-color: #f7f7f7 !important;
}
.chat-wrapper .active.chat-box.new-chat .chat-head.chat-head {
  background-color: #f7f7f7 !important;
}
.chat-wrapper .chat-window::-webkit-scrollbar {
  display: none;
}
.chat-wrapper .chat-box.collapsed .chat-head {
  color: gray;
}
.chat-wrapper .chat-box.collapsed .chat-head a {
  color: gray;
}
.chat-wrapper .chat-list-box .chat-head {
  color: gray;
  fill: gray;
}
.chat-wrapper .chat-list-box .chat-head a {
  color: gray;
}
.chat-wrapper .chat-list-box:not(.collapsed) {
  padding-bottom: 2px;
}
.chat-wrapper .chat-list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.chat-wrapper .chat-list-box .chat-window {
  padding: 0;
}
.chat-wrapper .chat-list-box .sticky-top {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.chat-wrapper .chat-list-box .contacts::-webkit-scrollbar {
  display: none;
}
.chat-wrapper .chat-list-box .contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-overflow-style: none;
  overflow: auto;
}
.chat-wrapper .chat-list-box .chat-list.empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
}
.chat-wrapper .chat-list-box .chat-list.empty .image-wrapper {
  margin-bottom: .5rem;
}
.chat-wrapper .chat-list-box .chat-list.empty .text {
  max-width: 220px;
  text-align: center;
  color: #555;
  font-size: 15.5px;
  line-height: 1.3;
}
.chat-wrapper .new-chat .status-icon,
.chat-wrapper .new-chat .contact-status {
  display: none;
}
.chat-wrapper .new-chat a {
  pointer-events: none;
}
.chat-wrapper .new-chat .chat-window {
  padding: 0;
}
.chat-wrapper .new-chat .textarea-wrapper {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.chat-wrapper .new-chat .input-placeholder {
  color: white;
}
.chat-window::-webkit-scrollbar {
  display: none;
}
.chat-window {
  padding: 1rem 1rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem;
  -ms-overflow-style: none;
  overflow: auto;
}
.chat-window .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.chat-window .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.chat-window .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.chat-window .center .text {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}
.chat-window .right .message-bubble {
  background-color: #4840bb;
  color: white;
  text-align: right;
}
.chat-window .left .message-bubble {
  background-color: #f1f0f0;
}
.chat-window .message-bubble {
  max-width: 48%;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}
.chat-window .message-bubble.money {
  background-color: #7976db !important;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: .8rem;
  padding-bottom: .8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px !important;
}
.chat-window .message-bubble.money .icon {
  height: 40px;
  min-height: 40px;
}
.chat-window .message-bubble.money .icon img {
  height: inherit;
  width: auto;
}
.chat-window .left .money .icon {
  margin-left: 1rem;
}
.chat-window .right .money .icon {
  margin-right: 1rem;
}
.chat-window .message-bubble a {
  color: inherit;
  text-decoration: underline;
}
.chat-window .message-bubble + .message-bubble {
  margin-top: .3rem;
}
.chat-window .right,
.chat-window .center,
.chat-window .left {
  margin-bottom: 1rem;
}
.chat-window .right .message-bubble {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.chat-window .right .message-bubble:last-child {
  border-bottom-right-radius: 24px;
}
.chat-window .right .message-bubble:first-child {
  border-top-right-radius: 24px;
}
.chat-window .left .message-bubble {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.chat-window .left .message-bubble:last-child {
  border-bottom-left-radius: 24px;
}
.chat-window .left .message-bubble:first-child {
  border-top-left-radius: 24px;
}
.chat-window.small {
  font-size: 14.5px;
}
.chat-window.small .center .text {
  font-size: 14px;
}
.chat-window.small .message-bubble {
  max-width: 95%;
  line-height: normal;
}
.chat-window.small .message-bubble + .message-bubble {
  margin-top: .15rem;
}
.chat-window.small .right,
.chat-window.small .left,
.chat-window.small .center {
  margin-bottom: .5rem;
}
.chat-window.small .message-bubble.money {
  padding: .6rem;
}
.chat-window.small .message-bubble.money .icon {
  min-width: 28px;
}
.chat-window.small .message-bubble.money .icon img {
  height: inherit;
  width: auto;
}
.chat-window.small .left .money .icon {
  margin-left: .5rem;
}
.chat-window.small .right .money .icon {
  margin-right: .5rem;
}
.chat-search-wrapper {
  font-size: 15px;
  background-color: #f8f8f8;
  padding: .5rem;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
.chat-search-wrapper .ui.input input {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 100px;
}
.chat-search-wrapper .ui.input input:focus {
  border-color: rgba(34, 36, 38, 0.15);
}
.chat-search-wrapper.big {
  padding: 1rem;
}
.chat-search-wrapper.big .ui.input input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 100px;
}
.chat-message-box,
.message-box {
  position: relative;
}
.chat-message-box .input-container,
.message-box .input-container {
  padding: .4rem 0.6rem;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}
.chat-message-box .textarea,
.message-box .textarea {
  -ms-overflow-style: none;
  overflow: auto;
  position: relative;
  z-index: 3;
  min-height: 20px;
  line-height: 1.3rem;
  max-height: 6.5rem;
}
.chat-message-box .textarea::-webkit-scrollbar,
.message-box .textarea::-webkit-scrollbar {
  display: none;
}
.chat-message-box .textarea-wrapper,
.message-box .textarea-wrapper {
  position: relative;
}
.chat-message-box .textarea:focus,
.message-box .textarea:focus {
  outline: none;
}
.chat-message-box .input-placeholder,
.message-box .input-placeholder {
  color: #adadad;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.chat-message-box.fluid,
.message-box.fluid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.chat-message-box.rounded .input-container,
.message-box.rounded .input-container {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid rgba(34, 36, 38, 0.15);
}
.message-box.send-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.message-box.send-button .input-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: .5rem;
}
@media (max-width: 1199px) {
  .chat-wrapper {
    max-width: 840px;
  }
}
.not-contact-message {
  position: absolute;
  z-index: 1;
  bottom: 73px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(239, 239, 239, 0.95);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: .8rem;
  padding-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}
@media (max-width: 767px) {
  .not-contact-message {
    bottom: 55px;
  }
}
.not-contact-message .cross-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  fill: gray;
}
.not-contact-message .cross-icon svg {
  width: 18px;
  height: 18px;
}
.not-contact-message .text {
  font-weight: 500;
  margin-bottom: .8rem;
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
}
.not-contact-message .user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.chat-window.small ~ .not-contact-message {
  padding-bottom: .8rem;
  padding-top: .4rem;
  bottom: 34px;
}
.chat-window.small ~ .not-contact-message .text {
  font-size: 15px;
  margin-bottom: .6rem;
}
.chat-window.small ~ .not-contact-message .cross-icon {
  padding: .35rem .6rem;
}
.chat-window.small ~ .not-contact-message .cross-icon svg {
  width: 12px;
  height: 12px;
}
.chat-window.small ~ .not-contact-message .ui.button {
  font-size: 14px;
  padding: .5rem .7rem;
}
.chat-list .no-search-results {
  padding: 1.5rem 1rem 1rem;
  color: gray;
  text-align: center;
}
