

/*******************************
            Theme
*******************************/

.contact-card {
  padding: .8rem;
  padding-bottom: .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.contact-card:hover,
.contact-card:focus,
.contact-card.active {
  background-color: #f7f7f7;
}
.contact-card .avatar-wrapper {
  margin-right: .5rem;
}
.contact-card .image-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 0.5rem;
}
.contact-card a,
.contact-card .icon {
  color: rgba(0, 0, 0, 0.6);
}
.contact-card a:hover,
.contact-card .icon:hover,
.contact-card a:focus,
.contact-card .icon:focus {
  color: rgba(0, 0, 0, 0.87);
}
.contact-card .contact-name a {
  font-size: 14.5px;
}
.contact-card .contact-meta {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-card .contact-time {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 0.5rem;
  font-size: 14px;
  margin-bottom: .5rem;
}
.contact-card .contact-status {
  background-color: gray;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-right: .5rem;
}
.contact-card .contact-main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contact-card .contact-last-message {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 235px;
}
.contact-card .contact-unread {
  background-color: #4bcc1f;
  border-radius: 50%;
  color: white;
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14.5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  font-weight: bold;
  margin-top: -0.5rem;
}
.contact-card.small .contact-unread {
  font-size: 14px;
  width: 20px;
  height: 20px;
  position: relative;
  right: 3px;
}
.contact-card .ui.label {
  font-size: 13.5px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.contact-card.online .contact-status {
  background-color: #4bcc1f;
}
.contact-card.new-message .contact-last-message {
  font-weight: 500;
}
.contact-card.online .contact-status {
  background-color: #4bcc1f;
}
.contact-card.small {
  padding-top: .7rem;
  padding-bottom: 0;
  padding-left: .5rem;
  padding-right: 0;
}
.contact-card.small .avatar-wrapper {
  margin-right: .3rem;
}
.contact-card.small .image-wrapper {
  width: 24px;
  height: 24px;
}
.contact-card.small .contact-name a {
  font-size: 13px;
}
.contact-card.small .contact-name {
  line-height: 1.1;
}
.contact-card.small .contact-status {
  margin-right: .6rem;
}
.contact-card.small .contact-last-message {
  width: 195px;
}
@media (max-width: 479px) {
  .contact-card:not(.small) {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .contact-card:not(.small) .contact-main {
    width: calc(-40vw);
  }
  .contact-card:not(.small) .contact-last-message {
    width: 100%;
  }
  .contact-card:not(.small) .contact-name {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
}
