

/*******************************
            Theme
*******************************/

.error-wrapper.no-results,
.error-wrapper.no-filter-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.error-wrapper.no-results .text,
.error-wrapper.no-filter-results .text {
  font-size: 1.1rem;
  line-height: 1.3;
  margin-bottom: .5rem;
}
.error-wrapper.no-results .highlight-text,
.error-wrapper.no-filter-results .highlight-text {
  color: #4840bb;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.3;
  cursor: pointer;
}
@media (max-width: 500px) {
  .error-wrapper.no-results,
  .error-wrapper.no-filter-results {
    border: 0;
  }
}
.error-wrapper.no-filter-results h3 {
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .error-wrapper.no-filter-results img {
    height: 100px;
    width: 100px;
  }
}
