/*!
 * # Semantic UI 2.2.13 - Feed
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
         Activity Feed
*******************************/

.ui.feed {
  margin: 1em 0em;
}
.ui.feed:first-child {
  margin-top: 0em;
}
.ui.feed:last-child {
  margin-bottom: 0em;
}


/*******************************
            Content
*******************************/


/* Event */
.ui.feed > .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0.1875rem 0em;
  margin: 0em;
  background: none;
  border-top: none;
}
.ui.feed > .event:first-child {
  border-top: 0px;
  padding-top: 0em;
}
.ui.feed > .event:last-child {
  padding-bottom: 0em;
}

/* Event Label */
.ui.feed > .event > .label {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 2.5em;
  height: auto;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  text-align: left;
}
.ui.feed > .event > .label .icon {
  opacity: 1;
  font-size: 1.5em;
  width: 100%;
  padding: 0.25em;
  background: none;
  border: none;
  border-radius: none;
  color: rgba(0, 0, 0, 0.6);
}
.ui.feed > .event > .label img {
  width: 100%;
  height: auto;
  border-radius: 500rem;
}
.ui.feed > .event > .label + .content {
  margin: 0.5em 0em 0.3125em 1.125em;
}

/*--------------
     Content
---------------*/


/* Content */
.ui.feed > .event > .content {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  text-align: left;
  word-wrap: break-word;
}
.ui.feed > .event:last-child > .content {
  padding-bottom: 0em;
}

/* Link */
.ui.feed > .event > .content a {
  cursor: pointer;
}

/*--------------
      Date
---------------*/

.ui.feed > .event > .content .date {
  margin: -0.5rem 0em 0em;
  padding: 0em;
  font-weight: normal;
  font-size: 1em;
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
}

/*--------------
     Summary
---------------*/

.ui.feed > .event > .content .summary {
  margin: 0em;
  font-size: 1em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

/* Summary Image */
.ui.feed > .event > .content .summary img {
  display: inline-block;
  width: auto;
  height: 10em;
  margin: -0.25em 0.25em 0em 0em;
  border-radius: 0.25em;
  vertical-align: middle;
}

/*--------------
      User
---------------*/

.ui.feed > .event > .content .user {
  display: inline-block;
  font-weight: bold;
  margin-right: 0em;
  vertical-align: baseline;
}
.ui.feed > .event > .content .user img {
  margin: -0.25em 0.25em 0em 0em;
  width: auto;
  height: 10em;
  vertical-align: middle;
}

/*--------------
   Inline Date
---------------*/


/* Date inside Summary */
.ui.feed > .event > .content .summary > .date {
  display: inline-block;
  float: none;
  font-weight: normal;
  font-size: 0.875em;
  font-style: normal;
  margin: 0em 0em 0em 0.5em;
  padding: 0em;
  color: rgba(0, 0, 0, 0.4);
}

/*--------------
  Extra Summary
---------------*/

.ui.feed > .event > .content .extra {
  margin: 0.5em 0em 0em;
  background: none;
  padding: 0em;
  color: rgba(0, 0, 0, 0.87);
}

/* Images */
.ui.feed > .event > .content .extra.images img {
  display: inline-block;
  margin: 0em 0.25em 0em 0em;
  width: 6em;
}

/* Text */
.ui.feed > .event > .content .extra.text {
  padding: 0em;
  border-left: none;
  font-size: 1em;
  max-width: 500px;
  line-height: 1.4285em;
}

/*--------------
      Meta
---------------*/

.ui.feed > .event > .content .meta {
  display: inline-block;
  font-size: 0.875em;
  margin: 0.5em 0em 0em;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0em;
  color: rgba(0, 0, 0, 0.6);
}
.ui.feed > .event > .content .meta > * {
  position: relative;
  margin-left: 0.75em;
}
.ui.feed > .event > .content .meta > *:after {
  content: '';
  color: rgba(0, 0, 0, 0.2);
  top: 0em;
  left: -1em;
  opacity: 1;
  position: absolute;
  vertical-align: top;
}
.ui.feed > .event > .content .meta .like {
  color: '';
  -webkit-transition: 0.2s color ease;
  transition: 0.2s color ease;
}
.ui.feed > .event > .content .meta .like:hover .icon {
  color: #FF2733;
}
.ui.feed > .event > .content .meta .active.like .icon {
  color: #EF404A;
}

/* First element */
.ui.feed > .event > .content .meta > :first-child {
  margin-left: 0em;
}
.ui.feed > .event > .content .meta > :first-child::after {
  display: none;
}

/* Action */
.ui.feed > .event > .content .meta a,
.ui.feed > .event > .content .meta > .icon {
  cursor: pointer;
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
.ui.feed > .event > .content .meta a:hover,
.ui.feed > .event > .content .meta a:hover .icon,
.ui.feed > .event > .content .meta > .icon:hover {
  color: rgba(0, 0, 0, 0.95);
}


/*******************************
            Variations
*******************************/

.ui.small.feed {
  font-size: 0.9375rem;
}
.ui.feed {
  font-size: 1rem;
}
.ui.large.feed {
  font-size: 1.125rem;
}


/*******************************
         Theme Overrides
*******************************/



/*******************************
    User Variable Overrides
*******************************/

.ui.divided.feed .event + .event .content {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  padding-top: 1.5rem;
}
.ui.divided.feed .event .content {
  margin-bottom: 1rem;
}
.ui.divided.feed .event + .event .avatar-wrapper {
  margin-top: 1.5rem;
}
.ui.feed.user-reviews .load-more {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.ui.feed.user-reviews .sub.header {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #444;
}
.ui.feed.user-reviews > .event > .content .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ui.feed.user-reviews > .event > .content .summary > .date {
  font-size: 15px;
}
.ui.feed.user-reviews > .event > .label + .content {
  margin-top: 0;
  margin-left: .7rem;
}
.ui.feed.user-reviews > .event > .content .meta {
  margin-top: 0;
}
.ui.feed.user-reviews > .event > .content .meta .star.rating {
  margin-left: -2px;
}
.ui.feed.user-reviews > .event > .content .extra.text {
  margin-top: 4px;
}
.ui.feed.user-reviews .seller-avatar.seller-avatar.seller-avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.ui.feed.user-reviews .avatar-wrapper.avatar-wrapper.avatar-wrapper {
  width: 40px;
  height: 40px;
}
.ui.feed.user-reviews .rating {
  color: #f8c033;
  font-size: 1.1rem;
}
.ui.feed.user-reviews .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ui.feed.user-reviews .action {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.ui.feed.user-reviews .action:hover {
  color: rgba(0, 0, 0, 0.7);
}
.ui.feed.user-reviews .user {
  color: rgba(0, 0, 0, 0.87);
}
.ui.feed.user-reviews .user:hover,
.ui.feed.user-reviews .user:focus,
.ui.feed.user-reviews .user:active {
  color: #4840bb;
}
.ui.contact-requests.feed .avatar {
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.ui.contact-requests.feed .event .content {
  margin-top: 0;
  margin-left: 0;
}
.ui.contact-requests.feed .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ui.contact-requests.feed .top .label {
  margin-right: .5rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.ui.contact-requests.feed .content {
  font-size: 15px;
}
.ui.contact-requests.feed .grey.button {
  background-color: #cfd0d2;
}
.ui.contact-requests.feed .ui.button {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.ui.contact-requests.feed .date {
  display: inline-block;
  font-weight: 400;
  font-size: .85714286em;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 4px;
}
.ui.contact-requests.feed a {
  color: rgba(0, 0, 0, 0.6);
}
.ui.contact-requests.feed a:hover,
.ui.contact-requests.feed a:focus {
  color: rgba(0, 0, 0, 0.87);
}
.ui.contact-requests.feed .event {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding: .5rem;
}
.ui.contact-requests.feed .event:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.ui.contact-requests.feed .content .summary {
  font-weight: normal;
  line-height: 1.3;
}
.ui.contact-requests.feed .user-actions {
  margin-top: .5rem;
  padding-bottom: .2rem;
}
