

/*******************************
            Theme
*******************************/

@media (min-width: 1024px) {
  .product-images-wrapper {
    min-height: 600px;
  }
}
.product-images-wrapper {
  background-color: #fafafa;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 720px;
  height: 100%;
  max-height: 1080px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  -ms-overflow-style: none;
  overflow-y: auto;
}
.product-images-wrapper::-webkit-scrollbar {
  display: none;
}
.product-images-wrapper .big-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  -webkit-transition: left 1s;
  transition: left 1s;
  left: 0;
  max-height: 530px;
}
.product-images-wrapper .big-images.viewing-1 {
  left: 0;
}
.product-images-wrapper .big-images.viewing-2 {
  left: -100%;
}
.product-images-wrapper .big-images.viewing-3 {
  left: -200%;
}
.product-images-wrapper .big-images.viewing-4 {
  left: -300%;
}
.product-images-wrapper .big-images.viewing-5 {
  left: -400%;
}
.product-images-wrapper .big-image-wrapper {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 65px;
}
.product-images-wrapper .big-image {
  padding: 9px;
  background-color: white;
  display: inline-block;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.product-images-wrapper .big-image img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  max-height: 400px;
  max-width: 400px;
}
.product-images-wrapper .image-previews {
  position: absolute;
  left: 1.5rem;
  top: 0;
  z-index: 1;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 55px;
}
.product-images-wrapper .image-previews .preview {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.24);
}
.product-images-wrapper .image-previews .active.preview {
  border: 2px solid #4840bb;
}
.product-images-wrapper .image-previews img {
  width: 60px;
  height: auto;
  padding: 0;
  margin: 0;
  display: block;
  max-height: 107px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-images-wrapper .image-previews .preview + .preview {
  margin-top: 6px;
}
.product-images-wrapper .indicators {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-images-wrapper .indicator.active {
  background-color: #65676a;
}
.product-images-wrapper .indicator {
  background-color: #ccc;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.product-images-wrapper .indicator + .indicator {
  margin-left: 8px;
}
.product-images-wrapper .full-screen-icon {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  cursor: pointer;
}
@media (max-width: 1365px) {
  .product-images-wrapper {
    width: 650px;
  }
}
@media (max-width: 1199px) {
  .product-images-wrapper {
    width: 550px;
  }
  .product-images-wrapper .big-image img {
    max-width: 300px;
    max-height: 300px;
  }
  .product-images-wrapper .big-images {
    max-height: 440px;
  }
}
@media (max-width: 1023px) {
  .product-images-wrapper {
    max-width: none;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: initial;
    margin-bottom: .5rem;
    overflow-y: auto;
    padding-top: 1rem;
  }
  .product-images-wrapper .image-previews {
    padding-top: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 3rem;
  }
  .product-images-wrapper .image-previews img {
    width: 45px;
    height: 45px;
  }
  .product-images-wrapper .indicators {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .product-images-wrapper .big-images {
    max-height: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-images-wrapper .big-image-wrapper {
    padding-top: .5rem;
  }
}
@media (max-width: 767px) {
  .product-images-wrapper .image-previews img {
    width: 40px;
  }
  .product-images-wrapper .big-image-wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .product-images-wrapper .full-screen-icon {
    right: .8rem;
    bottom: .8rem;
  }
}
@media (max-width: 479px) {
  .product-images-wrapper {
    padding-top: 0.5rem;
  }
  .product-images-wrapper .image-previews {
    left: .8rem;
  }
  .product-images-wrapper .big-image {
    padding: 5px;
  }
  .product-images-wrapper .indicators {
    padding-left: 2rem;
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
  }
  .product-images-wrapper .big-image-wrapper {
    padding-left: 2rem;
    padding-right: 0;
  }
  .product-images-wrapper .big-image img {
    max-width: 250px;
    max-height: 250px;
  }
}
.product-images-wrapper.full-screen {
  width: 100% !important;
  height: 100% !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.product-images-wrapper.full-screen .big-image-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 !important;
}
.product-images-wrapper.full-screen .indicators {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 2rem !important;
  margin: 0 !important;
}
.product-images-wrapper.full-screen .big-images {
  max-height: none !important;
}
.product-images-wrapper.full-screen .image-previews {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0;
}
.product-images-wrapper.full-screen .big-image img {
  max-width: 70vw !important;
  max-height: 70vh !important;
}
