

/*******************************
            Theme
*******************************/

.homepage-map {
  width: 400px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f2ede7;
}
.map-back .button {
  margin-left: auto;
  margin-right: auto;
}
.homepage-map > .map {
  height: 100%;
}
@media (min-width: 1700px) {
  .homepage-map {
    width: 600px;
  }
}
@media (max-width: 991px) {
  .homepage-map {
    position: fixed !important;
    top: 63px;
    bottom: 0;
    right: 0;
    left: 0;
    width: initial;
    z-index: 300;
  }
  .homepage-map img {
    -o-object-fit: cover;
       object-fit: cover;
    width: inherit;
    height: inherit;
  }
  .homepage-map.active {
    display: block;
  }
}
@media (max-width: 600px) {
  .homepage-map {
    top: 54px;
  }
}
.mini-map {
  height: 250px;
  margin-top: 1rem;
}
.mini-map img {
  width: 100%;
  height: inherit;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.mapboxgl-marker {
  background-color: #4840bb !important;
  opacity: .8;
  border: 1px solid rgba(250, 250, 250, 0.8) !important;
  border-radius: 50%;
  z-index: 3;
}
.map.back-btn .map-back {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 400;
}
@media (min-width: 992px) {
  .map.back-btn.back-btn-mobile-only .map-back {
    display: none;
  }
}
@-webkit-keyframes glowing-effect {
  0% {
    -webkit-box-shadow: 0px 0px 4px 1px red;
            box-shadow: 0px 0px 4px 1px red;
  }
  50% {
    -webkit-box-shadow: 0px 0px 6px 2px red;
            box-shadow: 0px 0px 6px 2px red;
  }
  100% {
    -webkit-box-shadow: 0px 0px 4px 1px red;
            box-shadow: 0px 0px 4px 1px red;
  }
}
@keyframes glowing-effect {
  0% {
    -webkit-box-shadow: 0px 0px 4px 1px red;
            box-shadow: 0px 0px 4px 1px red;
  }
  50% {
    -webkit-box-shadow: 0px 0px 6px 2px red;
            box-shadow: 0px 0px 6px 2px red;
  }
  100% {
    -webkit-box-shadow: 0px 0px 4px 1px red;
            box-shadow: 0px 0px 4px 1px red;
  }
}
.map.location {
  position: relative;
}
.map.location.location--loading .location-icon {
  background-color: red !important;
  -webkit-animation: glowing-effect 1s infinite;
          animation: glowing-effect 1s infinite;
}
.map.location .location-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  z-index: 100;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #4840bb;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
.map.location .location-icon .icon {
  margin-right: .2rem;
}
.map.marker {
  position: relative;
}
.map.marker .marker-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  z-index: 100;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #4840bb;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
.map.marker .marker-icon .icon {
  margin-right: 0;
}
.pin.map .map-pin {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pin.map .map-pin svg,
.pin.map .map-pin img {
  width: 32px;
  height: 32px;
  position: relative;
  bottom: 16px;
  z-index: 100;
  fill: #4840bb;
}
.map.filters .map-filters {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5;
}
.map.filters .map-filters .ui.vertical.menu {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}
.map.filters .map-filters .ui.vertical.menu .item {
  padding: .5rem;
  margin-bottom: .5rem;
  border-radius: 50% !important;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.05);
  background-color: #f8f7f7;
  fill: #4840bb;
}
.map.filters .map-filters .ui.vertical.menu .item::before {
  content: none;
}
.map.filters .map-filters .ui.vertical.menu .item svg {
  width: 28px;
  height: 28px;
}
.map.filters .map-filters .ui.vertical.menu .item.active {
  border: 3px solid #4840bb;
}
.map.filters .map-filters .ui.vertical.menu .item.active:hover {
  background-color: #f8f7f7;
}
