/*!
 * # Semantic UI 2.2.13 - Modal
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
             Modal
*******************************/

.ui.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  text-align: left;
  background: #FFFFFF;
  border: none;
  -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2), 1px 3px 15px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2), 1px 3px 15px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: 50% 25%;
          transform-origin: 50% 25%;
  border-radius: 0.25rem;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  will-change: top, left, margin, transform, opacity;
}
.ui.modal > :first-child:not(.icon),
.ui.modal > .icon:first-child + * {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.ui.modal > :last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}


/*******************************
            Content
*******************************/


/*--------------
     Close
---------------*/

.ui.modal > .close {
  cursor: pointer;
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  z-index: 1;
  opacity: 0.8;
  font-size: 1.25em;
  color: #FFFFFF;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.625rem 0rem 0rem 0rem;
}
.ui.modal > .close:hover {
  opacity: 1;
}

/*--------------
     Header
---------------*/

.ui.modal > .header {
  display: block;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: #FFFFFF;
  margin: 0em;
  padding: 1.25rem 1.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
.ui.modal > .header:not(.ui) {
  font-size: 1.4375rem;
  line-height: 1.28571429em;
  font-weight: bold;
}

/*--------------
     Content
---------------*/

.ui.modal > .content {
  display: block;
  width: 100%;
  font-size: 1em;
  line-height: 1.4;
  padding: 1.5rem;
  background: #FFFFFF;
}
.ui.modal > .image.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* Image */
.ui.modal > .content > .image {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: '';
  -ms-flex-item-align: top;
      align-self: top;
}
.ui.modal > [class*="top aligned"] {
  -ms-flex-item-align: top;
      align-self: top;
}
.ui.modal > [class*="middle aligned"] {
  -ms-flex-item-align: middle;
      align-self: middle;
}
.ui.modal > [class*="stretched"] {
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

/* Description */
.ui.modal > .content > .description {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  min-width: 0px;
  -ms-flex-item-align: top;
      align-self: top;
}
.ui.modal > .content > .icon + .description,
.ui.modal > .content > .image + .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-width: '';
  width: auto;
  padding-left: 2em;
}
/*rtl:ignore*/
.ui.modal > .content > .image > i.icon {
  margin: 0em;
  opacity: 1;
  width: auto;
  line-height: 1;
  font-size: 8rem;
}

/*--------------
     Actions
---------------*/

.ui.modal > .actions {
  background: #F9FAFB;
  padding: 1rem 1rem;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  text-align: right;
}
.ui.modal .actions > .button {
  margin-left: 0.75em;
}

/*-------------------
       Responsive
--------------------*/


/* Modal Width */
@media only screen and (max-width: 767px) {
  .ui.modal {
    width: 95%;
    margin: 0em 0em 0em -47.5%;
  }
}
@media only screen and (min-width: 768px) {
  .ui.modal {
    width: 88%;
    margin: 0em 0em 0em -44%;
  }
}
@media only screen and (min-width: 992px) {
  .ui.modal {
    width: 850px;
    margin: 0em 0em 0em -425px;
  }
}
@media only screen and (min-width: 1200px) {
  .ui.modal {
    width: 900px;
    margin: 0em 0em 0em -450px;
  }
}
@media only screen and (min-width: 1920px) {
  .ui.modal {
    width: 950px;
    margin: 0em 0em 0em -475px;
  }
}

/* Tablet and Mobile */
@media only screen and (max-width: 991px) {
  .ui.modal > .header {
    padding-right: 2.25rem;
  }
  .ui.modal > .close {
    top: 1.0535rem;
    right: 1rem;
    color: rgba(0, 0, 0, 0.87);
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .ui.modal > .header {
    padding: 0.75rem 1rem !important;
    padding-right: 2.25rem !important;
  }
  .ui.modal > .content {
    display: block;
    padding: 1rem !important;
  }
  .ui.modal > .close {
    top: 0.5rem !important;
    right: 0.5rem !important;
  }
  /*rtl:ignore*/
  .ui.modal .image.content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ui.modal .content > .image {
    display: block;
    max-width: 100%;
    margin: 0em auto !important;
    text-align: center;
    padding: 0rem 0rem 1rem !important;
  }
  .ui.modal > .content > .image > i.icon {
    font-size: 5rem;
    text-align: center;
  }
  /*rtl:ignore*/
  .ui.modal .content > .description {
    display: block;
    width: 100% !important;
    margin: 0em !important;
    padding: 1rem 0rem !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
/* Let Buttons Stack */
  .ui.modal > .actions {
    padding: 1rem 1rem 0rem !important;
  }
  .ui.modal .actions > .buttons,
  .ui.modal .actions > .button {
    margin-bottom: 1rem;
  }
}

/*--------------
    Coupling
---------------*/

.ui.inverted.dimmer > .ui.modal {
  -webkit-box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.2);
}


/*******************************
             Types
*******************************/

.ui.basic.modal {
  background-color: transparent;
  border: none;
  border-radius: 0em;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #FFFFFF;
}
.ui.basic.modal > .header,
.ui.basic.modal > .content,
.ui.basic.modal > .actions {
  background-color: transparent;
}
.ui.basic.modal > .header {
  color: #FFFFFF;
}
.ui.basic.modal > .close {
  top: 1rem;
  right: 1.5rem;
}
.ui.inverted.dimmer > .basic.modal {
  color: rgba(0, 0, 0, 0.87);
}
.ui.inverted.dimmer > .ui.basic.modal > .header {
  color: rgba(0, 0, 0, 0.85);
}

/* Tablet and Mobile */
@media only screen and (max-width: 991px) {
  .ui.basic.modal > .close {
    color: #FFFFFF;
  }
}


/*******************************
             States
*******************************/

.ui.loading.modal {
  display: block;
  visibility: hidden;
  z-index: -1;
}
.ui.active.modal {
  display: block;
}


/*******************************
           Variations
*******************************/


/*--------------
    Scrolling
---------------*/


/* A modal that cannot fit on the page */
.scrolling.dimmable.dimmed {
  overflow: hidden;
}
.scrolling.dimmable.dimmed > .dimmer {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.scrolling.dimmable > .dimmer {
  position: fixed;
}
.modals.dimmer .ui.scrolling.modal {
  position: static !important;
  margin: 3.5rem auto !important;
}

/* undetached scrolling */
.scrolling.undetached.dimmable.dimmed {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.scrolling.undetached.dimmable.dimmed > .dimmer {
  overflow: hidden;
}
.scrolling.undetached.dimmable .ui.scrolling.modal {
  position: absolute;
  left: 50%;
  margin-top: 3.5rem !important;
}

/* Coupling with Sidebar */
.undetached.dimmable.dimmed > .pusher {
  z-index: auto;
}
@media only screen and (max-width: 991px) {
  .modals.dimmer .ui.scrolling.modal {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
}

/* Scrolling Content */
.ui.modal .scrolling.content {
  max-height: calc(70vh);
  overflow: auto;
}

/*--------------
   Full Screen
---------------*/

.ui.fullscreen.modal {
  width: 95% !important;
  left: 2.5% !important;
  margin: 1em auto;
}
.ui.fullscreen.scrolling.modal {
  left: 0em !important;
}
.ui.fullscreen.modal > .header {
  padding-right: 2.25rem;
}
.ui.fullscreen.modal > .close {
  top: 1.0535rem;
  right: 1rem;
  color: rgba(0, 0, 0, 0.87);
}

/*--------------
      Size
---------------*/

.ui.modal {
  font-size: 1rem;
}

/* Mini */
.ui.mini.modal > .header:not(.ui) {
  font-size: 1.3em;
}

/* Mini Modal Width */
@media only screen and (max-width: 767px) {
  .ui.mini.modal {
    width: 95%;
    margin: 0em 0em 0em -47.5%;
  }
}
@media only screen and (min-width: 768px) {
  .ui.mini.modal {
    width: 35.2%;
    margin: 0em 0em 0em -17.6%;
  }
}
@media only screen and (min-width: 992px) {
  .ui.mini.modal {
    width: 340px;
    margin: 0em 0em 0em -170px;
  }
}
@media only screen and (min-width: 1200px) {
  .ui.mini.modal {
    width: 360px;
    margin: 0em 0em 0em -180px;
  }
}
@media only screen and (min-width: 1920px) {
  .ui.mini.modal {
    width: 380px;
    margin: 0em 0em 0em -190px;
  }
}

/* mini */
.ui.small.modal > .header:not(.ui) {
  font-size: 1.3em;
}

/* Tiny Modal Width */
@media only screen and (max-width: 767px) {
  .ui.tiny.modal {
    width: 95%;
    margin: 0em 0em 0em -47.5%;
  }
}
@media only screen and (min-width: 768px) {
  .ui.tiny.modal {
    width: 52.8%;
    margin: 0em 0em 0em -26.4%;
  }
}
@media only screen and (min-width: 992px) {
  .ui.tiny.modal {
    width: 510px;
    margin: 0em 0em 0em -255px;
  }
}
@media only screen and (min-width: 1200px) {
  .ui.tiny.modal {
    width: 540px;
    margin: 0em 0em 0em -270px;
  }
}
@media only screen and (min-width: 1920px) {
  .ui.tiny.modal {
    width: 570px;
    margin: 0em 0em 0em -285px;
  }
}

/* Small */
.ui.small.modal > .header:not(.ui) {
  font-size: 1.3em;
}

/* Small Modal Width */
@media only screen and (max-width: 767px) {
  .ui.small.modal {
    width: 95%;
    margin: 0em 0em 0em -47.5%;
  }
}
@media only screen and (min-width: 768px) {
  .ui.small.modal {
    width: 70.4%;
    margin: 0em 0em 0em -35.2%;
  }
}
@media only screen and (min-width: 992px) {
  .ui.small.modal {
    width: 680px;
    margin: 0em 0em 0em -340px;
  }
}
@media only screen and (min-width: 1200px) {
  .ui.small.modal {
    width: 720px;
    margin: 0em 0em 0em -360px;
  }
}
@media only screen and (min-width: 1920px) {
  .ui.small.modal {
    width: 760px;
    margin: 0em 0em 0em -380px;
  }
}

/* Large Modal Width */
.ui.large.modal > .header {
  font-size: 1.6em;
}
@media only screen and (max-width: 767px) {
  .ui.large.modal {
    width: 95%;
    margin: 0em 0em 0em -47.5%;
  }
}
@media only screen and (min-width: 768px) {
  .ui.large.modal {
    width: 88%;
    margin: 0em 0em 0em -44%;
  }
}
@media only screen and (min-width: 992px) {
  .ui.large.modal {
    width: 1020px;
    margin: 0em 0em 0em -510px;
  }
}
@media only screen and (min-width: 1200px) {
  .ui.large.modal {
    width: 1080px;
    margin: 0em 0em 0em -540px;
  }
}
@media only screen and (min-width: 1920px) {
  .ui.large.modal {
    width: 1140px;
    margin: 0em 0em 0em -570px;
  }
}


/*******************************
         Theme Overrides
*******************************/



/*******************************
         Site Overrides
*******************************/

.ui.login.modal > .close-icon {
  top: .5rem;
  right: .5rem;
  position: absolute;
  z-index: 1;
  width: 36px;
  height: 36px;
  padding-top: 0;
  fill: gray;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ui.login.modal > .close-icon:hover {
  background-color: #efefef;
}
.ui.login.modal .content {
  border-radius: .25rem;
}
.ui.login.modal .alt-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ui.login.modal .alt-actions .button {
  padding-left: .5rem;
  padding-right: .5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 359px) {
  .ui.login.modal .alt-actions {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}
.ui.login.modal .metamask-login {
  background-color: #f08b34;
  color: white;
}
.ui.login.modal .metamask-login:hover,
.ui.login.modal .metamask-login:focus {
  background-color: #f2994c;
}
.ui.login.modal .metamask-error {
  text-align: center;
  margin-top: .5rem;
  color: #f08b34;
}
.ui.login.modal .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  margin: .5rem auto 2rem;
  border-radius: 50px;
  background-color: #efefef;
}
.ui.login.modal .logo-wrapper img {
  width: 75px;
  height: 75px;
}
.ui.login.modal .login-container,
.ui.login.modal .signup-container,
.ui.login.modal .metamask-container,
.ui.login.modal .nonce-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.ui.login.modal .long-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 250px;
  padding-top: 2.5rem;
}
.ui.login.modal .terms-wrapper {
  max-width: 250px;
  margin: 0.5rem auto -0.5rem;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
}
.ui.login.modal .terms-wrapper a {
  color: #4840bb;
}
.ui.login.modal .error-wrapper {
  padding-bottom: 1rem;
}
.ui.login.modal .login.form .header {
  margin-bottom: 2rem;
}
.ui.login.modal .bottom-wrapper {
  margin-top: auto;
}
.ui.login.modal .nonce-container .ui.header {
  margin-bottom: 0;
}
.ui.login.modal .nonce-container .text {
  padding-top: .2rem;
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
}
.ui.login.modal .nonce-container .form .text {
  margin-bottom: 1rem;
}
.ui.login.modal .nonce-container .ui.nonce.header {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .ui.small.login.modal {
    width: 650px;
    margin: 0em 0em 0em -325px;
  }
}
@media (max-width: 767px) {
  .ui.small.login.modal {
    width: 360px;
    margin: 0em 0em 0em -180px;
  }
  .ui.small.login.modal .logo-wrapper {
    margin-top: 0;
  }
  .ui.small.login.modal .long-wrapper {
    min-height: 0;
    padding-top: 0.5rem;
  }
  .ui.small.login.modal .ui.stackable.divided.grid > .column {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }
  .ui.small.login.modal .error-wrapper {
    padding-bottom: 0;
  }
}
@media (max-width: 380px) {
  .ui.small.login.modal {
    width: 95%;
    margin: 0 0 0 -47.5%;
  }
  .ui.small.login.modal .basic.buttons .button {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
.ui.modal.add-review .add-review-wrapper {
  text-align: center;
}
.ui.modal.add-review .add-review-wrapper .ui.rating {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.ui.modal.add-review .add-review-wrapper .message-box {
  margin-bottom: 1rem;
  text-align: left;
}
.ui.modal.add-review .add-review-wrapper .input-placeholder {
  bottom: auto;
  top: 0;
}
.ui.modal.add-review .add-review-wrapper .textarea {
  min-height: 6.5rem;
  max-height: 9rem;
}
.ui.slot-purchased.modal .header {
  margin-top: .5rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}
.ui.slot-purchased.modal .image-wrapper {
  text-align: center;
  margin-bottom: 1rem;
}
.ui.slot-purchased.modal .text {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: center;
}
@media (max-width: 991px) {
  .modals.dimmer .ui.scrolling.report.modal {
    margin-top: 3.5rem !important;
  }
}
@media only screen and (max-width: 767px) {
  .ui.report.modal {
    width: 100%;
  }
}
.ui.report.modal {
  position: relative;
}
.ui.report.modal .remove-icon {
  text-align: right;
  fill: rgba(0, 0, 0, 0.7);
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  top: -3rem !important;
  padding: 0;
  right: 0 !important;
  width: 40px;
  height: 40px;
  opacity: 1;
  border-radius: 50%;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.ui.report.modal .remove-icon:hover,
.ui.report.modal .remove-icon:focus,
.ui.report.modal .remove-icon:active {
  fill: #000000;
}
.ui.report.modal .remove-icon svg {
  width: 32px;
  height: 32px;
  padding: .5rem;
}
.ui.report.modal iframe {
  border: 0;
  border-radius: inherit;
}
