

/*******************************
            Theme
*******************************/

.recent-posts {
  margin-left: 1rem;
  margin-right: 1rem;
}
.recent-posts .posts {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.recent-posts .avatar-wrapper {
  margin-right: 1rem;
}
.recent-posts .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recent-posts .post + .post {
  margin-top: 1rem;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  padding-top: 1rem;
}
.recent-posts .meta-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recent-posts .poster-name {
  font-weight: bold;
  margin-right: 0.5rem;
  display: inline;
}
.recent-posts .post-meta {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: normal;
  display: inline;
}
