

/*******************************
            Theme
*******************************/

.site-header {
  position: relative;
  min-height: 63px;
  z-index: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: .75rem 1rem;
  background-color: white;
}
.header-wrapper .sidebar-icon {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
  cursor: pointer;
  color: #888;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.header-wrapper .sidebar-icon .icon {
  margin-right: 0;
  height: initial;
}
@media (min-width: 768px) {
  .header-wrapper .sidebar-icon:hover {
    background-color: #e7e7e7;
    border-radius: 50%;
  }
}
.header-wrapper .user-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin-right: .5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.header-wrapper .user-icons .user-icon {
  cursor: pointer;
}
.header-wrapper .user-icons .user-icon + .user-icon {
  margin-left: .6rem;
}
.header-wrapper .user-icons .profile-icon {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}
.header-wrapper .user-icons .avatar-wrapper {
  margin-right: .5rem;
}
.header-wrapper .user-icons .top.right.ui.dropdown .menu {
  right: 0;
  left: auto;
}
.header-wrapper .site-name {
  font-size: 1.1rem;
  font-weight: bold;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  padding-left: .5rem;
}
.header-wrapper .search-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  margin-left: 1.5rem;
  max-width: 600px;
}
.header-wrapper .search-wrapper .ui.input input {
  padding-top: 0.48em;
  padding-bottom: 0.48em;
  border-radius: 3px;
}
.header-wrapper .price-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 190px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-right: auto;
}
.header-wrapper .price-index .icon {
  margin-right: 0.5rem;
}
.header-wrapper .price-index .ui.dropdown .text {
  font-weight: 500;
}
.header-wrapper .price-index .value {
  margin-left: 6px;
  font-weight: 500;
}
.header-wrapper .price-index .dropdown .menu {
  right: 0;
  left: auto;
}
.header-wrapper .language-select {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 150px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.header-wrapper .language-select .dropdown .menu {
  right: 0;
  left: auto;
}
.header-wrapper .language-select .ui.dropdown .text {
  font-weight: normal;
}
.header-wrapper nav {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.header-wrapper .ui.secondary.menu {
  padding: 0 .5rem;
  margin-left: 0;
  margin-right: 0;
}
.header-wrapper .ui.secondary.menu .item {
  padding-left: .5rem;
  padding-right: .5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 0;
  margin-left: 0;
}
.header-wrapper .ui.secondary.menu .active.item {
  background-color: transparent;
  color: #4840bb;
}
.header-wrapper .user-actions {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header-wrapper {
    padding: 1rem;
  }
  .header-wrapper .site-name {
    padding-left: 0;
  }
  .header-wrapper > .user-actions {
    margin-left: auto;
  }
  .header-wrapper .sidebar-icon {
    margin-right: .5rem;
  }
}
@media (max-width: 479px) {
  .header-wrapper {
    padding-right: .5rem;
  }
  .header-wrapper .sidebar-icon {
    margin-right: 0;
  }
}
@media (max-width: 359px) {
  .header-wrapper .ui.primary.button.user-action {
    font-size: 0.9rem;
  }
}
.profile-icon .dropdown .ui.menu {
  z-index: 700;
}
.ui.notification.popup {
  padding: 0;
  min-width: 300px;
  width: 300px;
  border: 0;
}
.ui.notification.popup::before {
  display: none;
}
@media (max-width: 359px) {
  .ui.notification.popup {
    right: .5rem!important;
  }
}
.ui.notification.popup .menu {
  margin-bottom: 0.25rem;
}
.ui.notification.popup .tab {
  font-size: 1rem;
  height: 300px;
  -ms-overflow-style: none;
  overflow: auto;
  margin-bottom: .5rem;
}
.ui.notification.popup .tab::-webkit-scrollbar {
  display: none;
}
.ui.notification.popup .empty-wrapper {
  color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
}
.ui.notification.popup .empty-wrapper .image-wrapper {
  text-align: center;
  margin-bottom: .5rem;
}
.ui.notification.popup .empty-wrapper .image-wrapper img {
  display: block;
}
.ui.profile.popup {
  padding: 0;
  border: 0;
}
.ui.profile.popup::before {
  display: none;
}
.ui.profile.popup .ui.menu {
  width: initial;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}
.ui.user-see-more.popup {
  padding: 0;
  border: 0;
}
.ui.user-see-more.popup::before {
  display: none;
}
.ui.user-see-more.popup .ui.menu {
  width: initial;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}
