

/*******************************
            Theme
*******************************/

.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.types .active.type {
  border: 4px solid #4840bb;
}
.types .type {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 4px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  fill: #4840bb;
}
.types .type-icon {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.types .type-name {
  font-size: 18px;
  margin-top: .5rem;
}
.types .type + .type {
  margin-left: 1.25rem;
}
@media (max-width: 600px) {
  .types {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .types .type {
    margin-left: .5rem;
    margin-right: .5rem;
    text-align: center;
    padding: .5rem;
  }
  .types .type + .type {
    margin-left: 0;
  }
  .types .type-name {
    font-size: 1rem;
    margin-top: .25rem;
  }
}
