

/*******************************
            Theme
*******************************/

.user-post {
  border: 1px solid rgba(34, 36, 38, 0.15);
  background-color: #fff;
  padding-top: 1rem;
  border-radius: 3px;
  margin-bottom: 2rem;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.user-post .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.user-post .user-name {
  font-weight: bold;
}
.user-post .user-address {
  line-height: 1;
}
.user-post .user-address a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}
.user-post .user-address a:hover,
.user-post .user-address a:focus,
.user-post .user-address a:active {
  color: rgba(0, 0, 0, 0.87);
}
.user-post .avatar-wrapper {
  margin-right: .5rem;
}
.user-post .time-wrapper {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.4);
  padding-left: 1rem;
  font-size: 17px;
}
.user-post .user-content {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.3;
}
.user-post .user-content .image {
  margin-top: 1rem;
}
.user-post .user-content .image img {
  max-width: 100%;
  display: block;
}
.user-post .user-actions {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.user-post .user-bottom {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  background-color: #fafafa;
  padding: .7rem 1rem;
}
.user-post .user-bottom .ui.button {
  margin-right: 0;
}
.user-post .user-comments {
  line-height: 1.3;
}
.user-post.new-post {
  padding-top: 0;
}
.user-post.new-post .menu {
  margin-bottom: .7rem;
}
.user-post.new-post .menu .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.575em;
  padding-bottom: 0.575em;
  cursor: pointer;
}
.user-post.new-post .menu .icon {
  margin-right: .5rem;
}
.user-post.new-post .active.item .icon {
  fill: #4840bb;
}
.user-post.new-post .image-preview {
  position: relative;
  max-width: 50px;
  max-height: 50px;
}
.user-post.new-post .image-preview .cross-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: -11px;
  right: -11px;
  border: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.user-post.new-post .image-preview svg {
  width: 8px;
  height: 8px;
}
.user-post.new-post .image-preview img {
  width: 50px;
  height: 50px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-post.new-post .image-preview img[src=''] {
  display: none;
}
.user-post.new-post .image-preview img[src=''] + .cross-icon {
  display: none;
}
.user-post.new-post .message-wrapper {
  padding: 0 1rem;
  margin-bottom: .7rem;
}
.user-post.new-post .message-box .input-container {
  border-top: 0;
  min-height: 4rem;
  max-height: 8rem;
}
.user-post.new-post .user-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.user-post.new-post .user-bottom .button {
  min-width: 120px;
  margin-right: 0;
}
.user-posts {
  margin-top: 2rem;
}
.image-grid {
  margin-top: 1rem;
}
.image-grid img:focus {
  outline: none;
}
.image-grid.two-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.image-grid.two-image .left-image,
.image-grid.two-image .right-image {
  width: 50%;
  height: 400px;
}
.image-grid.two-image .left-image img {
  padding-right: 1.5px;
}
.image-grid.two-image .right-image img {
  padding-left: 1.5px;
}
.image-grid.two-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.image-grid.three-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.image-grid.three-image .left,
.image-grid.three-image .right {
  width: 50%;
  height: 400px;
}
.image-grid.three-image .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.image-grid.three-image .right .top img {
  padding-bottom: 1.5px;
  padding-left: 3px;
}
.image-grid.three-image .right .bottom img {
  padding-top: 1.5px;
  padding-left: 3px;
}
.image-grid.three-image .right img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.image-grid .feature-image img {
  width: 100%;
  display: block;
}
.image-grid .other-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.image-grid .small-image {
  width: 188.66666667px;
  height: 141.5px;
}
.image-grid .small-image img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 3px;
  padding-left: 3px;
}
@media (max-width: 600px) {
  .image-grid .small-image {
    width: 100%;
    height: 80px;
  }
}
.image-grid .small-image.count {
  position: relative;
}
.image-grid .small-image.count .count-wrapper {
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 3px;
  color: white;
  letter-spacing: 4px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
}
.image-grid .small-image:first-child img {
  padding-left: 0;
}
@media (max-width: 479px) {
  .user-post {
    font-size: 15px;
  }
  .user-post.new-post .message-wrapper {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .user-post .user-info,
  .user-post .user-content,
  .user-post .user-bottom {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
